<mat-card>
  <mat-card-content>
    <mat-card-title>{{!!(entityUpdate$ | async) ? 'Chi tiết' : 'Thêm mới'}}</mat-card-title>
    <form [formGroup]="formExpert" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4">
          <app-input-image (changeFileImage)="setFilePassportImageControl($event)"
                           [dataNameImage]="linkPassportImage$ | async">
          </app-input-image>
        </div>
        <div class="col-md-4">
          <app-input-image (changeFileImage)="setFilePortraitImageControl($event)"
                           [dataNameImage]="linkPortraitImage$ | async">
          </app-input-image>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input formControlName="code" matInput placeholder="Mã chuyên gia">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input formControlName="fullname" matInput placeholder="Họ và Tên">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <app-datepicker [control]="formControlBirthDay"
                          name="Ngày sinh"></app-datepicker>
        </div>
        <div class="col-md-4">
          <label>Giói tính: </label>
          <mat-radio-group formControlName="gender">
            <mat-radio-button [value]="false">Nữ</mat-radio-button>
            <mat-radio-button [value]="true">Nam</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Quốc tịch</mat-label>
            <mat-select formControlName="countryID">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let val of (countries$ | async)" [value]="val.id">{{val.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input formControlName="religion" matInput placeholder="Tôn giáo">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input formControlName="occupation" matInput placeholder="Nghề nghiệp">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <!--          <label>About Me</label>-->
          <mat-form-field class="example-full-width">
            <textarea matInput formControlName="permanentResidentialAddress"
                      placeholder="Địa chỉ thường trú"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input formControlName="passportNumber" matInput placeholder="Số hộ chiếu">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input formControlName="phoneNumber" matInput placeholder="Số điện thoại">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <app-datepicker [control]="formControlExpiryDate"
                          name="Ngày hết hạn"></app-datepicker>
        </div>
        <div class="col-md-4">
          <app-datepicker [control]="formControlDateOfEntry"
                          name="Ngày nhập cảnh"></app-datepicker>
        </div>

        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input type="number"
                   formControlName="lengthOfStay"
                   matInput placeholder="Thời gian lưu trú">
          </mat-form-field>
        </div>
      </div>

      <button mat-raised-button
              type="button"
              class="btn btn-danger float-left"
              (click)="back()">Quay lại
      </button>
      <button mat-raised-button
              type="submit"
              *appHasPermission="[PermissionConst.ChuyenGia.Them, PermissionConst.ChuyenGia.Sua];"
              class="btn btn-danger float-right">Lưu
      </button>
      <div class="clearfix"></div>
    </form>

  </mat-card-content>
</mat-card>
