<mat-card>
  <mat-card-content>
    <mat-card-title>{{!!(entityUpdate$ | async) ? 'Chi tiết' : 'Thêm mới'}}</mat-card-title>
    <form [formGroup]="formEmployee" (ngSubmit)="onSubmit()">
      <div class="row">
<!--        <div class="col-md-4 col-sm-4">-->
<!--          <app-input-image (changeFileImage)="setFileImageControl($event)" [imagePath]="linkImage"></app-input-image>-->
<!--        </div>-->
<!--        <div class="col-md-4 col-sm-4">-->
<!--          <app-input-image (changeFileImage)="setFileImageControl($event)" [imagePath]="linkImage"></app-input-image>-->
<!--        </div>-->
        <div class="col-md-4 col-sm-4">
          <mat-form-field class="example-full-width">
            <input formControlName="code" matInput placeholder="Mã chuyên gia" >
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input formControlName="fullname" matInput placeholder="Họ và Tên">
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <app-datepicker [control]="formControlBirthDay"
                          name="Ngày sinh"></app-datepicker>
        </div>
        <div class="col-md-4">
          <!--          <mat-form-field class="example-full-width">-->
          <!--            <input matInput placeholder="Giói tính" type="email">-->
          <!--          </mat-form-field>-->
          <label>Giói tính: </label>
          <mat-radio-group formControlName="gender">
            <mat-radio-button [value]="false">Nữ</mat-radio-button>
            <mat-radio-button [value]="true">Nam</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <mat-form-field class="example-full-width">
            <mat-label>Loại đơn vị</mat-label>
            <mat-select formControlName="unitTypeID">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let val of (unitType$ | async)" [value]="val.id">{{val.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Nơi làm việc</mat-label>
            <mat-select formControlName="workUnitID">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let val of (workUnit$ | async)" [value]="val.id">{{val.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Phòng ban</mat-label>
            <mat-select formControlName="departmentID">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let val of (department$ | async)" [value]="val.id">{{val.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="example-full-width">
            <mat-label>Chức vụ</mat-label>
            <mat-select formControlName="positionID">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let val of (position$ | async)" [value]="val.id">{{val.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Thành phố (nơi cứ chú)</mat-label>
            <mat-select formControlName="cityProvinceID">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let val of (cityProvince$ | async)" [value]="val.id">{{val.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Quận huyện (nơi cư chú)</mat-label>
            <mat-select formControlName="districtID">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let val of (district$ | async)" [value]="val.id">{{val.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Phường xã (nơi cư chú)</mat-label>
            <mat-select formControlName="communeWardID">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let val of (communeWard$ | async)" [value]="val.id">{{val.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <!--      <div class="row">-->
      <!--        <div class="col-md-12">-->
      <!--          <label>About Me</label>-->
      <!--          <mat-form-field class="example-full-width">-->
      <!--            <textarea matInput-->
      <!--                      placeholder="Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo."></textarea>-->
      <!--          </mat-form-field>-->
      <!--          &lt;!&ndash; <div class="form-group">-->

      <!--              <div class="form-group">-->
      <!--                  <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>-->
      <!--                  <textarea class="form-control" rows="5"></textarea>-->
      <!--              </div>-->
      <!--          </div> &ndash;&gt;-->
      <!--        </div>-->
      <!--      </div>-->

      <div class="row">
        <div class="col-md-12">
          <!--          <label>About Me</label>-->
          <mat-form-field class="example-full-width">
            <textarea matInput formControlName="description"
                      placeholder="Chi tiết thôn xóm nơi cư chú"></textarea>
          </mat-form-field>
          <!-- <div class="form-group">

              <div class="form-group">
                  <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                  <textarea class="form-control" rows="5"></textarea>
              </div>
          </div> -->
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input formControlName="phoneNumber" matInput placeholder="Số điện thoại" type="text">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <input formControlName="numberIdentityCard" matInput placeholder="Số căn cước công dân" type="text">
          </mat-form-field>
        </div>
      </div>
      <button mat-raised-button
              type="submit"
              class="btn btn-danger float-right">Lưu
      </button>
      <div class="clearfix"></div>
    </form>

  </mat-card-content>
</mat-card>
