<mat-card class="example-card">
  <mat-card-content>
    <mat-card-title>Chuyên gia</mat-card-title>

    <app-toolbar-action-table (handlerSearch)= "handlerSearch()">
      <ng-container left [formGroup]="formSearch">
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="code" placeholder="Mã">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="fullname" placeholder="Họ tên">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="countryName" placeholder="Quốc tịch">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="permanentResidentialAddress" placeholder="Địa chỉ tạm trú">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="phoneNumber" placeholder="Số điện thoại">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="passportNumber" placeholder="Số hộ chiếu">
            </mat-form-field>
          </div>
        </div>
      </ng-container>

      <ng-container right>
        <button mat-raised-button color="primary"
                *appHasPermission="PermissionConst.ChuyenGia.Them; andCondition:[!isDialog]"
                (click)="onNewExperts()">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Thêm mới</span>
        </button>
      </ng-container>
    </app-toolbar-action-table>


    <div id="employees" class=" mat-elevation-z8 " matSort #sort="matSort">
      <app-table #appTable [menuAction]="menu"
                 [hiddenCheckBoxCheckAll]="true"
                 [stickyEnd]="!isDialog"
                 [stickyStart]="true"
                 [isSelection]="!!selection"
                 [isAction]="!isDialog"
                 [dataSource]="experts$ | async"
                 [columnsAndStyles]="columnsAndStyles"
                 [selection]="selection"
                 (handlerChangePage)="handlerChangePage($event)"
                 [totalRecord]="totalItems$ | async">
      </app-table>
    </div>

  </mat-card-content>
  <mat-menu #menu="matMenu">
    <button #btnDetail
            *appHasPermission="PermissionConst.ChuyenGia.Xem; andCondition:[!isDialog]"
            mat-menu-item>
      <mat-icon>details</mat-icon>
      <span>Chi Tiết</span>
    </button>
<!--    <button #btnUpdate mat-menu-item>-->
<!--      <mat-icon>update</mat-icon>-->
<!--      <span>Sửa</span>-->
<!--    </button>-->
    <button #btnDelete
            *appHasPermission="PermissionConst.ChuyenGia.Xoa; andCondition:[!isDialog]"
            mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Xóa</span>
    </button>
  </mat-menu>

</mat-card>

<div mat-dialog-actions *ngIf="isDialog" class="float-right">
  <button mat-button mat-dialog-close>Hủy</button>
  <button mat-button [mat-dialog-close]="appTable.resultSelected">Đồng ý</button>
</div>

<ng-template #dialogDelete>
  <h1 mat-dialog-title>Xóa chuyên gia {{nameExpertDel$ | async}}</h1>
  <div mat-dialog-content>
    <p>Bạn có chắc muốn xóa?</p>
  </div>
  <div mat-dialog-actions class="float-right">
    <button mat-button [mat-dialog-close]="true">Đồng ý</button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Hủy</button>
  </div>
</ng-template>
