<mat-card class="example-card">
  <mat-card-content>
    <mat-card-title>Quản lý người dùng</mat-card-title>

    <app-toolbar-action-table (handlerSearch)= "handlerSearch()">
      <ng-container left [formGroup]="formSearch">
        <div class="row">
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="username" placeholder="Tên đăng nhập" >
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="employeeCode" placeholder="Mã nhân viên">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="employeeFullName" placeholder="Họ tên nhân viên" type="email">
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="roleName" placeholder="Tên vai trò" type="email">
            </mat-form-field>
          </div>
        </div>
      </ng-container>

      <ng-container right>
        <button mat-raised-button color="primary"
                *appHasPermission="PermissionConst.NguoiDung.Them;"
                (click)="onNewUser()">
          <mat-icon>add_circle_outline</mat-icon>
          <span>Thêm mới</span>
        </button>
      </ng-container>
    </app-toolbar-action-table>


    <div id="employees" class=" mat-elevation-z8 " matSort #sort="matSort">
      <app-table #appTable [menuAction]="menu"
                 [stickyEnd]="true"
                 [stickyStart]="true"
                 [isSelection]="false"
                 [hiddenCheckBoxCheckAll]="true"
                 [isAction]="true"
                 [dataSource]="usersCustomer$ | async"
                 [columnsAndStyles]="columnsAndStyles"
                 [selection]="selection"
                 (handlerChangePage)="handlerChangePage($event)"
                 [totalRecord]="totalItems$ | async">
      </app-table>
    </div>

  </mat-card-content>
  <mat-menu #menu="matMenu">
    <button #btnDetail mat-menu-item>
      <mat-icon>details</mat-icon>
      <span>Chi Tiết</span>
    </button>
<!--    <button #btnUpdate mat-menu-item>-->
<!--      <mat-icon>update</mat-icon>-->
<!--      <span>Sửa</span>-->
<!--    </button>-->
    <button #btnDelete
            *appHasPermission="PermissionConst.NguoiDung.Xoa;"
            mat-menu-item>
      <mat-icon>delete</mat-icon>
      <span>Xóa</span>
    </button>
  </mat-menu>

</mat-card>

<ng-template #dialogDelete>
  <h1 mat-dialog-title>Xóa vai trò {{usernameDialog$ | async}}</h1>
  <div mat-dialog-content>
    <p>Bạn có chắc muốn xóa?</p>
  </div>
  <div mat-dialog-actions class="float-right">
    <button mat-button [mat-dialog-close]="true">Đồng ý</button>
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>Hủy</button>
  </div>
</ng-template>
