ul {
  list-style-type: none;
  margin-top: 4px;
}


//.position-relative {
//  position: relative;
//}
//
//.add-contact {
//  position: absolute;
//  right: 17px;
//  top: 57px;
//}

//==================
//.example-container {
//  height: 400px;
//  overflow: auto;
//  width: 400px;
//}
//
//table {
//  width: 100%;
//}

// ========================================================================
.example-container {
  height: 600px;
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: separate;
}

.mat-table-sticky {
  background: whitesmoke;
  opacity: 1;
  left: 0;
}


tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;

}

.mat-row:hover .mat-cell {
  border-bottom: 1px solid ;
  border-top: 1px solid ;

}
th.mat-header-cell, td.mat-cell, td.mat-footer-cell{
  padding-left: 10px;
  padding-right: 10px;
}

span{
  //background-color: #1e88e5;
  //width: 400px;
}

//=========================================================================

//.mat-table-sticky-border-elem-top {
//  border-bottom: 2px solid midnightblue;
//}
//
//.mat-table-sticky-border-elem-right {
//  border-left: 2px solid midnightblue;
//}
//
//.mat-table-sticky-border-elem-bottom {
//  border-top: 2px solid midnightblue;
//}
//
//.mat-table-sticky-border-elem-left {
//  border-right: 2px solid midnightblue;
//}

//




//==============================================================
//.toolbar{
//  display: flex;
//  justify-content: space-between;
//}
//
//
//
//.form-search{
//  //display: flex;
//  //justify-content: left;
//  //
//  //& > * {
//  //  margin-right: 4px;
//  //}
//}
//.edit-table{
//  //display: flex;
//  justify-content: flex-end;
//  & > * {
//    margin-left: 2px;
//  }
//}
//================================================================
//.example-container-search .mat-form-field + .mat-form-field {
//  margin-left: 8px;
//}


//th.mat-header-cell{
//  padding-left: 10px;
//  min-width: 50px;
//  //max-width: 250px;
//}
//
//.mat-row .mat-cell{
//  padding-left: 10px;
//  //max-width: 250px;
//}

//=======================================================================
.span-status{
  padding: 0 7px;
  border: 1px solid;
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-block;
}

.profile-pic {
  width: 20px;
  height: 20px;
  border-radius: 100%;
}
