<mat-card>
  <mat-card-content>
    <mat-card-title>{{!!(entityUpdate$ | async) ? 'Chi tiết' : 'Thêm mới'}}</mat-card-title>
    <form [formGroup]="formProfile" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <mat-form-field class="example-full-width">
            <input formControlName="code" matInput placeholder="Mã hồ sơ">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <label>Nhiệm vụ</label>
          <button (click)="openDialog(PROJECT_MISSION)"
                  mat-mini-fab
                  color="accent"
                  type="button"
                  style="margin-left: 5px">
            <mat-icon>add</mat-icon>
          </button>
          <mat-accordion class="example-headers-align">
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <!--                <mat-panel-title>-->
                <!--                  Thông tin nhiệm vụ-->
                <!--                </mat-panel-title>-->
                <mat-panel-description>
                  {{entityProfile?.projectMission ? "Xem thông tin nhiệm vụ" : "Chưa có nhiệm vụ nào"}}
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>

              <mat-list>
                <div class="row">
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Tên nhiệm vụ </h3>
                      <p matLine>
                        <span> {{getProjectMissionName}} </span>
                      </p>
                    </mat-list-item>
                  </div>
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Ngày tạo </h3>
                      <p matLine>
                        <span> {{getProjectMissionCreateDate}} </span>
                      </p>
                    </mat-list-item>
                    <mat-list-item>
                      <h3 matLine>Ngày sửa </h3>
                      <p matLine>
                        <span> {{getProjectMissionUpdateDate}}</span>
                      </p>
                    </mat-list-item>
                  </div>
                </div>
              </mat-list>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="row" style="margin-top: 10px">

        <div class="col-md-4">
          <label>Đơn vị công tác</label>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip>{{getWorkUnitName}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Phòng ban</mat-label>
            <mat-select formControlName="departmentID">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let val of (department$ | async)" [value]="val.id">{{val.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
      <div class="row">
        <div class="col-md-4">
          <label>Trạng thái</label>
          <mat-chip-list aria-label="Fish selection">
            <mat-chip color="primary"
                      selected>{{entityProfile?.statusProfile?.name ?? 'Không có trạng thái'}}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="example-full-width">
            <mat-label>Phương tiện đi lại</mat-label>
            <mat-select formControlName="vehicleID">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let val of (vehicles$ | async)" [value]="val.id">{{val.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <app-rich-text-editor label="Mô tả hồ sơ" [description]="description">
          </app-rich-text-editor>
        </div>

        <!--        <div [innerHTML]="richTextForm.value.description | safeHtml"></div>-->
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
          <label>Chuyên gia tham gia</label>
          <button mat-mini-fab
                  (click)="openDialog(EXPERT)"
                  color="accent"
                  type="button"
                  style="margin-left: 5px">
            <mat-icon>add</mat-icon>
          </button>
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel *ngFor="let item of getExperts; let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{i + 1 + ' : ' + (item?.expert?.code ?? '') + ' - ' + (item?.expert?.fullname ?? '')}}
                </mat-panel-title>
                <mat-panel-description>
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list>
                <div class="row">
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Mã: </h3>
                      <p matLine>
                        <span> {{item?.expert?.code ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Tên: </h3>
                      <p matLine>
                        <span> {{item?.expert?.fullname ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Ngày sinh: </h3>
                      <p matLine>
                        <span> {{formatDateToString(item?.expert?.birthDay, item?.expert?.isFormatDate)}}</span>
                      </p>
                    </mat-list-item>
                  </div>
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Quốc tịch: </h3>
                      <p matLine>
                        <span> {{item?.expert?.country?.name ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>
                </div>
              </mat-list>

            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
          <label>Nhân viên tham gia</label>
          <button mat-mini-fab (click)="openDialog(EMPLOYEE)"
                  color="accent"
                  type="button"
                  style="margin-left: 5px">
            <mat-icon>add</mat-icon>
          </button>
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel *ngFor="let item of getEmployees; let i = index">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  {{i + 1 + ' : ' + (item?.code || '') + ' - ' + (item?.fullname || '')}}
                </mat-panel-title>
                <mat-panel-description>
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list>
                <div class="row">
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Mã: </h3>
                      <p matLine>
                        <span> {{item?.code ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>

                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Tên: </h3>
                      <p matLine>
                        <span> {{item?.fullname ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Ngày sinh: </h3>
                      <p matLine>
                        <span> {{formatDateToString(item?.birthDay, item?.isFormatDate)}}</span>
                      </p>
                    </mat-list-item>
                  </div>
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Phòng ban: </h3>
                      <p matLine>
                        <span> {{item?.department?.name ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Chức vụ: </h3>
                      <p matLine>
                        <span> {{item?.position?.name ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>
                </div>
              </mat-list>
            </mat-expansion-panel>

          </mat-accordion>
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
          <label>Nhân viên tạo</label>
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
<!--                <mat-panel-title>-->
<!--                  Personal data-->
<!--                </mat-panel-title>-->
                <mat-panel-description>
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list *ngIf="!!getEmployeeCreate">
                <div class="row">
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Mã: </h3>
                      <p matLine>
                        <span> {{getEmployeeCreate?.code ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>

                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Tên: </h3>
                      <p matLine>
                        <span> {{getEmployeeCreate?.fullname ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Ngày sinh: </h3>
                      <p matLine>
                        <span> {{formatDateToString(getEmployeeCreate?.birthDay)}}</span>
                      </p>
                    </mat-list-item>
                  </div>
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Phòng ban: </h3>
                      <p matLine>
                        <span> {{getEmployeeCreate?.department?.name ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Chức vụ: </h3>
                      <p matLine>
                        <span> {{getEmployeeCreate?.position?.name ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>
                </div>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <div class="row" style="margin-top: 15px">
        <div class="col-md-12">
          <label>Nhân viên gửi</label>
          <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
<!--                <mat-panel-title>-->
<!--                  Personal data-->
<!--                </mat-panel-title>-->
                <mat-panel-description>
                  <mat-icon>account_circle</mat-icon>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <mat-list *ngIf="!!getApprover">
                <div class="row">
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Mã: </h3>
                      <p matLine>
                        <span> {{getApprover?.code ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>

                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Tên: </h3>
                      <p matLine>
                        <span> {{getApprover?.fullname ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Ngày sinh: </h3>
                      <p matLine>
                        <span> {{formatDateToString(getApprover?.birthDay)}}</span>
                      </p>
                    </mat-list-item>
                  </div>
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Phòng ban: </h3>
                      <p matLine>
                        <span> {{getApprover?.department?.name ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <mat-list-item>
                      <h3 matLine>Chức vụ: </h3>
                      <p matLine>
                        <span> {{getApprover?.position?.name ?? '' }} </span>
                      </p>
                    </mat-list-item>
                  </div>
                </div>
              </mat-list>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
      </div>
      <button mat-raised-button
              type="button"
              class="btn btn-danger float-left"
              (click)="back()"
              style="margin-top: 10px">Quay lại
      </button>
      <button mat-raised-button
              type="submit"
              class="btn btn-danger float-right"
              style="margin-top: 10px">Lưu
      </button>
      <div class="clearfix"></div>
    </form>

  </mat-card-content>
</mat-card>
